@charset "UTF-8";
/* CSS Document */

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

body, div, img, ul, ol, li, h1, h2, h3, h4, h5, h6, table, tr, th, td, p, input, button, select, option, textarea {
	margin: 0; padding: 0; 
	font-family: Verdana, Geneva, sans-serif; 
	font-size: 14px; color: #003;
	}
	
p,ul,ol {margin-bottom: 1em; }
ul,ol {margin-left: 16px; }
table {margin: 0 auto; border-collapse: collapse; border: 0; width: 100%; margin-bottom: 1em; border-style: none; }
td {vertical-align: top; border: 0; border-style: none; }
hr {width: 95%; height: 1px; border-width: 0; color: #666; background-color: #666; margin-bottom: 8px; }
caption {caption-side:bottom; font-size: 11px; color: #116; font-weight: bold; }
img.bord {border: 1px solid #333; margin: 0 18px 0 18px; }

body {
	background-color: #ccc; background-image: url(../art/bg/tile11.gif); 
	text-align: center; line-height: 1.4;
	margin-top: 1em; 	
}

/* whoever thought blue linked image borders were a good idea? */
a:link img, a:visited img {border: 1px solid #333; }
.left a:link img, .left a:visited img {border: 1px solid #9c9; }
a:hover img, a:active img, a:focus img {border: 1px solid red; }
.left a:hover img, .left a:active img, .left a:focus img {border: 1px solid red; }

/*h1 {font-size: 68px; color: #FFF; font-weight: lighter; display: inline; letter-spacing: 3px; line-height: 60px; position: relative; top: 5px; }*/
td.main p img {border: 1px solid #4c4c4c; }
.midd {text-align: center; }

h1 {font-size: 24px; color: #116; text-align: left; font-weight: normal; margin: 0 0 6px -6px; }
h1 img {border: 1px solid #4c4c4c; margin-right: 8px; }
h1 img.nobo {border: 0; margin-right: 8px; }
h2 {font-size: 16px; color: #116; margin: 0 0 0.4em 0; }
h3 {font-weight: bold; font-size: 14px; color: #116;}
h4 {background-image: url(../art/sc/bgt.gif); background-repeat: repeat-x; background-color: #4c4c4c; margin: 0; padding: 10px 0 6px 0; color: #fff; font-size: 12px; font-weight: normal; }

#tank {margin: 0 auto; width: 608px; }

#head {text-align: left; }
#head img {vertical-align: bottom; margin-left: 30px; margin-right: 4px; }

#head a:link, #head a:visited {text-decoration: none; color: white; padding: 1px 6px; background-color:#0b75b2; border: 1px solid #333; }
#head a:hover, #head a:active, #head a:focus {color: red; background-color: #ffc; }

ul#tabs {list-style-type: none; background-image: url(../art/sc/bgt.gif); background-repeat: repeat-x; background-color: #4c4c4c; margin: 0; padding: 10px 0 4px 0; }
ul#tabs li {display: inline; }
ul#tabs li.this {color: #003; padding: 0 8px 1px 8px; margin: 0 2px; background-color:#c96; border: 1px solid #f00; }
ul#tabs li a:link, ul#tabs li a:visited {text-decoration: none; color: #003; padding: 0 8px 1px 8px; margin: 0 2px; background-color:#c96; border: 1px solid #000; }
ul#tabs li a:hover, ul#tabs li a:active, ul#tabs li a:focus {color: red; background-color: #ffc; }

#sidemenu {background-color: #cc9; margin-top: 52px; padding-bottom: 2px; width: 120px; border: 2px solid #4c4c4c; }

.tite {background-image: url(../art/sc/bgt.gif); background-repeat: repeat-x; margin: 0; padding: 10px 0 6px 0; color: #fff; font-size: 11px; font-weight: normal; }
.foot {background-image: url(../art/sc/bgb.gif); margin: 0; padding: 0; background-repeat: repeat-x; font-size: 16px; font-weight: normal; }

#cent {background-color: #4c4c4c; width: 100%; }

table.out {border: none; width: 620px; text-align: center; margin-bottom: 0; overflow: hidden; }
table.lout {border: 2px solid #4c4c4c; width: 594px; text-align: center; margin-bottom: 0; overflow: hidden; }

td.left {background-color: #9c9; text-align: center; width: 102px; }
Xtd.main {background-color: #fff; text-align: left; padding: 12px 6px 0 12px; }
td.main {background-image: url(../art/icons/bgsq.gif); text-align: left; padding: 12px 6px 0 12px; }
td.rite {background-color: #cc9; text-align: center; width: 102px; border-left: 1px solid #666; }

#tank table.sim {margin: 0 auto; background-color: #aaa; width: 609px; height: 457px; }
#cent table.sim108 {margin: 0 auto; background-color: #aaa; width: 353px; height: 297px; }
#cent table.sim64 {margin: 0 auto; background-color: #aaa; width: 225px; height: 201px; }
#cent table.sim44 {margin: 0 auto; background-color: #aaa; width: 161px; height: 201px; }

#cent table.sq {width: auto; border: 2px solid #444; }
#cent table.sq td {border-right: 1px solid #444; border-bottom: 1px solid #444; text-align: center; font-size: 10px; padding: 0  !important; }
#cent table.sq td img {vertical-align: middle; }

#cent table.sq2 {width: auto; }
#cent table.sq2 td {text-align: center; font-size: 12px; padding: 4px; }
#cent table.sq2 td img {border: 1px solid #333; vertical-align: middle; }

#cent table.sq3 {width: auto; border: 2px solid #333; }
#cent table.sq3 td img {vertical-align: middle; }

#cent table.sq4 {width: auto; border: 2px solid #333; }
#cent table.sq4 td {border: 1px solid #444; text-align: center; font-size: 12px; padding: 4px; line-height: 1;}
#cent table.sq4 td img {border: 1px solid #333; vertical-align: middle; }

#cent table.sq5 {width: auto; border: 2px solid #333; }
#cent table.sq5 td {border: 1px solid #444; padding: 12px 4px 4px 4px; }
#cent table.sq5 td img {border: 1px solid #333; }

#cent table.sq5 td td {border: none; padding: 0; }
#cent table.sq5 td td img {border: none; padding: 0; }

#cent table.sq6 {width: auto; border: 1px solid #000; }
#cent table.sq6 td {border: 1px solid #000; padding: 0; }
#cent table.sq6 td img {vertical-align: bottom; float:left; } 

.smallhead {font-size: 16px; color: #116; }
.contents {margin-bottom: 6px; background-color: #996; display: block; padding: 3px; font-weight: bold; border-bottom: 1px solid #666; }
.contents2 {background-color: #c96; display: block; font-size: 6px; }
.enter {text-align: center; font-size: 12px; padding: 1px 0 2px 0; background-color:#9cc; }
.small {font-size: 2px; }
.siminfo {font-size: 10px; text-align: center; margin: 4px 0 9px 0; line-height: 1.25; }
.siminfo2 {font-size: 11px; margin: 4px 0 0 0; line-height: 1.2; }
.red {color: #f00; }

#menu {padding: 2px 0 4px 0; }
#menu ul {margin: 0; padding: 0 4px 4px 4px; }
#menu ul li {text-align: left; list-style-type: none; border-bottom: 1px solid #996; }
#menu ul li a:link, #menu ul li a:visited {display: block; text-decoration: none; color: #003; padding: 1px 0; font-size: 12px; }
#menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus {color: red; background-color: #ffc; font-size: 12px; }
#menu ul img {border: none; margin-left: 4px; }
#menu p {display: block; text-align: left; margin: 6px 0 0 6px; font-size: 12px; font-weight: bold; }

/* ~~ Site links ~~ */
a:link {color: blue; text-decoration: underline; }
a:viisited {color: purple; text-decoration: underline; }
a:hover, a:active, a:focus {color: red; text-decoration: none; }
input:hover {color: red; }

/*input[type="button"] {position: relative; top: -16px; }*/