@charset "UTF-8";
/* CSS Document Wang */

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: #003; line-height: 1.4;
	font-size: 15px;
	/*background: #4e4e4e; #42413C #726358 #e8e2ca */
	background-image: url(../art/bg/bgsq.png);
}

body table {
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ Element/tag selectors ~~ */

ul, ol { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. */
	padding: 0 0 0 48px;
}

img {
	margin: 0 auto;
	border: 1px solid #333;
}

caption {caption-side: bottom; font-size: 90%; color: #116; margin-bottom: 1em; /*font-weight: bolder; */}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	/*Xcolor: #42413C;*/
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	/*Xcolor: #208080; /*#6E6C64;*/
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #cc0000; /*red;*/ 
	text-decoration: none;
}
a:link img, a:visited img {border: 1px solid red; }
/*.array a:hover img, .array a:active img, .array a:focus img {border: 1px solid red; }*/


/* ~~ page layout ~~ */

.main {width: 672px; }

.tabs {text-align: center; }
.tabs ul {text-align: center; list-style-type: none; margin: 0 auto; padding: 0; width: 100%; }
.tabs ul li {display: inline; margin: 0 6px; border: 1px solid #666; }
.tabs ul li.this {color: #003; padding: 0 8px 2px 8px; background-color: #76828f; border: 1px solid #666; border-bottom: 1px solid #76828f; }

.tabs .main ul li a:link, .tabs .main ul li a:visited {text-decoration: none; color: #003; padding: 0 8px 2px 8px; background-color: #c96; }
.tabs .side ul li a:link, .tabs .side ul li a:visited {text-decoration: none; color: #003; padding: 0 8px 2px 8px; background-color: none; letter-spacing: 1px; font-weight: bold; }

.tabs .main ul li a:hover, .tabs .main ul li a:active, .tabs .main ul li a:focus {color: red; background-color: #ffc; }
.tabs .side ul li a:hover, .tabs .side ul li a:active, .tabs .side ul li a:focus {color: red; background-color: #ffc; }

.head .main {text-align: center; background: #76828f; }
.head h1 {font-size: 250%; font-weight: lighter; letter-spacing: 6px; color: white; margin: 0; padding: 0; }

.strap .main {background: #556D87; } /* #586474 */
.strap .main p {text-align: center; color: #eee; font-size: 90%; margin: 2px; padding: 0; letter-spacing: 1px; padding: 2px 0; }

.cont .main {vertical-align: top; text-align: left; background-image: url(../art/icons/bgsq.gif); border-left: 1px solid #666; } /* efd */
	/*margin: 0 auto; the auto value on the sides, coupled with the width, centers the layout */
	/*border: 1px solid #333;*/

.cont .main .content {width: 642px; margin: 0 auto; }  /* retain for overhanging images */

.foot .main {background: #76828f; }
.foot .main p {text-align: center; color: white; margin: 0; padding: 0; font-size: 80%; letter-spacing: 1px; padding: 4px 0 6px 0; }

.base .main p {text-align: center; margin: 0; padding: 0; font-size: 80%; }

.side {width: 150px; }

.strap .side {background: #556D87; }
.strap .side p {text-align: center; color: #eee; font-size: 90%; margin: 2px; padding: 0; letter-spacing: 1px; }

.cont .side {vertical-align: top; text-align: left; font-size: 90%; }
.cont .side ul {background: #76828f; margin: 0; padding: 0; }
.cont .side ul li {list-style-type: none; margin: 0 0 0 4px; border-right: 1px solid #666; }
.cont .side ul li a:link, .cont .side ul li a:visited {display: block; text-decoration: none; color: #003; padding: 2px 0 2px 8px; background-color: #99a3b1; border-bottom: 1px solid #666; }
.cont .side ul li strong a:link, .cont .side ul li strong a:visited {display: block; text-decoration: none; color: #003; padding: 3px 0 3px 4px; background-color: #76828f; border-bottom: 1px solid #666; }
.cont .side ul li.nolink {display: block; text-decoration: none; font-weight: bolder; color: #003; padding: 3px 0 3px 4px; background-color: #76828f; border-bottom: 1px solid #666; }
.cont .side ul li a:hover, .cont .side ul li a:active, .cont .side ul li a:focus {background-color: #cdd9eb; }
.cont .side ul li strong a:hover, .cont .side ul li strong a:active, .cont .side ul li strong a:focus {background-color: #bec8d8; }


/* editable content area */

table.lout {
	width: 100%;
	margin: 1em 0;
}
table.lout td {
	vertical-align: top;
}
table.lout td p, table.lout td h2, table.lout td h3 {
	margin-top: 0;
}
table.lout td p { /* text always in left column */
	margin-right: 1em;
}



table.sq {width: auto; border: 1px solid #444; } 
table.sq td {border-right: 1px solid #444; border-bottom: 1px solid #444; text-align: center; font-size: 10px; padding: 0  !important; }
table.sq td img {border: none; vertical-align: middle; }

table.sq2 {width: auto; }
table.sq2 td {text-align: center; font-size: 12px; padding: 4px; }
table.sq2 td img {border-right: 1px solid #444; border-bottom: 1px solid #444; vertical-align: middle; }

table.sq3 {width: auto; border: 2px solid #333; }
table.sq3 td img {border: none; vertical-align: middle; }

table.sq4 {width: auto; border: 1px solid #333; }
table.sq4 td {border: 1px solid #666; text-align: center; font-size: 12px; padding: 4px; line-height: 1;}
table.sq4 td img {border: 1px solid #333; vertical-align: middle; }

table.sq5 {width: auto; border: 2px solid #333; }
table.sq5 td {border: 1px solid #444; padding: 12px 4px 4px 4px; }
table.sq5 td img {border: 1px solid #333; }

table.sq5 td td {border: none; padding: 0; }
table.sq5 td td img {border: none; padding: 0; }

table.sq6 {width: auto; border: 1px solid #000; }
table.sq6 td {border: 1px solid #000; padding: 0; }
table.sq6 td img {vertical-align: bottom; float:left; } 

.stage {width: 628px; margin: 1em auto; text-align: center; background: #4c4c4c; padding: 0 0 12px 0; }
.stage p {color: white; font-size: 14px; padding-top: 12px; }